/* Your styles should be mobile-first and responsive

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

*{
  background-color: black;
}

h1, h2 {
  color: whitesmoke;
  text-align: center;
}

header, .quizHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 700px;
  margin: 10px auto;

  border-radius:10px;
  padding:10px;
  }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  list-style: none;
  text-align: center;
}


.pfeedback, .nfeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 24px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  color:whitesmoke;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  font-size: 32px;
  font-style: bold;
}

.answer input[type="button"] {
  background-color: lightgrey;
  font-size: 20px;
  color: 000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 50%;

}

.highlight input[type="button"]{
  background-color: whitesmoke;
}

button[name="submit"], button[name="next"], button[name="start"], button[name="again"] {
  color: whitesmoke;
  font-size: 20px;

}

footer {
  color: whitesmoke;
}

.lastPage {
  text-align: center;
  color: whitesmoke;
  font-size: 28px;
}

@media (min-width: 720px) {
  .answer input[type="button"] {
    font-size: 24px;
  }
}